.main-container-book{
  margin: 0;
  background: linear-gradient(rgba(250, 240, 228, 0.90), rgba(236, 173, 102, 0.2));
}

.booking-container {
  width: 100%;
  height: 100vh;
  // background: #f5f5f5;
  display:inline-block;
  background: linear-gradient(rgba(255, 255, 255, 0.71), rgba(255, 168, 71, 0.31));
}

.details-booking-color {
  background: rgba(236, 173, 102, 0.2);
}

.booking-show {
  height: 285px;
  width: 100%;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  h2 {
    margin: auto;
    top: 14px;
    left: 12px;
    margin: 0px;
    color: white;
    position: absolute;
  }
}

.heading-book{
  font-weight: bolder;
  color: #8b8585;
  padding-top: 20px;
  margin-left: 4px;
}

.description-container-book{
  margin-top: 15px;
  font-size: 20px;
  font-style: helvetica;
  color: gray;
  display: flex;
  // align-items: center;
  width: 100%;
  padding-top: 12px;
  padding-left: 12px;
  margin-left: 4px;
  margin-bottom: 80px;
}

.details-title{
  font-weight: bolder;
  color: #8b8585;
  font-size: 25px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  margin-bottom: 18px;
}

.icons-book{
  padding: 12px;
}

.center-position {
  padding-top: 14px;
}

.thumb{
  font-size: large;
  padding-left: 2px;
}

.heading-cancel{
  font-weight: bolder;
  color: #8b8585;
  margin-top: 20px;
  margin-left: 4px;
  margin-bottom: 8px;
  font-size: 18px;
  text-decoration: none;
}
