<div class="restaurant-container">
  <div class="restaurant-show mb-2" style="background-image: linear-gradient(rgba(0,0,0,1) 0%,rgba(24,35,44,0) 19%,rgba(125,185,232,0) 100%), url(<%= asset_path(@restaurant.image_url) %>);" >
    <%= link_to restaurant_path(@restaurant), class: "back-btn" do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <h2><%= @restaurant.name %></h2>
  </div>
  <div>
    <h3>Make your booking</h3>
  </div>
  <%= render 'shared/form' %>
</div>
