<div class="col-s-12">
    <div class="restaurant">
      <div class="restaurant-location">
        <p><span><i class="fas fa-map-marker-alt"></i></span><%= @restaurant.address %>
      </div>
      <div class="restaurant-info">

        <div class="restaurant-details">
          <div class="restaurant-name">
            <%= @restaurant.name %>
          </div>
          <div class="restaurant-cuisine">
            <p> <%= @restaurant.cuisine %> </p>
          </div>
        </div>
      </div>
    </div>
</div>
