.background-photo {
  background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(restaurant.jpg);
  text-align: center;
  max-height: 100%;
  h1 {
    // -webkit-text-stroke: 1px black;
    font-weight: bolder;
  }

  h2 {
    // -webkit-text-stroke: 1px black;
    font-weight: bolder;
  }
}
.cards-restaurant {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  // overflow: hidden;
  // height: 100px;
  // backdrop-filter: blur(10px);
  // display: flex;
  // align-items: center;

  img {
    height: 120px;
    max-width: 100%;
    object-fit: cover;
  }
}

.card-restaurant {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 2px 2px;
  border-radius: 8px;
}

.cards-infos-restaurant {

  color: $yellow;

  strong {
    color: $gray;
    font-weight: bolder;
    opacity: 1;
  }

  p {
    color: $gray;
  }
}
