.h3-font-design {
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 22px;
  font-weight: 500;
}

.form-container{
  padding-bottom: 12px;

}

.form-row {
  display: block;
  margin-bottom: 25px;
  box-sizing: border-box;
}

.form-wrapper {
  margin-bottom: 25px;
  margin-right: 0;
  width: 100%;
  position: relative;
}

.uppercase-text {
  text-transform: uppercase;
}
