h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  font-family: "Poppins-Medium";
  color: #3e91f7;
  letter-spacing: 2px;
  margin-bottom: 22px;
  font-weight: 500;
}

.form-row {
  display: block;
  margin-bottom: 25px;
  box-sizing: border-box;
}

.form-wrapper {
  margin-bottom: 25px;
  margin-right: 0;
  width: 100%;
  position: relative;
}
