.navbar {
  background: linear-gradient(rgba(250, 240, 228, 0.1), rgba(236, 173, 102, 0.2));
}

#logo{
  font-size: 20px;
  font-weight: bolder;
  color: #8b8585;
  margin-top: 14px;
  text-shadow: 1px 1px 1px;
}
